<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoplytics Smart Recommendation Demo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-light">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col">
        <H1>Welcome to Smart Recommendation Demo Site</H1>
        <a>當前題目: {{page}}/20</a>
      </div>
    </div>

    <form class="form-inline mr-auto" action="/smart_recommendation_test" method="get" style="display:none">
        <input class="form-control mr-sm-2" id="merchant_id" name="merchant_id" type="text" placeholder="Merchant_id" value="{{merchant_id}}" aria-label="Search">
        <span class="input-group-addon">-</span>
        <input class="form-control mr-sm-2" id="product_id" name="product_id" type="text" placeholder="Product_id" value="{{product_id}}" aria-label="Search">
        <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
  </div>

    <div class="container">
      <H2>當前產品</H2>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://shoplineimg.com/{{ merchant_id }}/{{ target_product['media_id'] }}/400x.webp?source_format=jpeg" alt="Card image cap">
        <div class="card-footer">
          <small class="text-muted">{{ target_product['title_translations']['zh-hant'] }}</small>
        </div>
      </div>
      <H2>相關產品</H2>
      <form id="form1" method="post" action="/smart_recommendation_test/{{page+1}}">
      <div class="card-deck w-75 p-4">
        {% for product, product_info in recommendation_list.items() %}
          <div class="card">
            <img class="card-img-top" src="https://shoplineimg.com/{{ merchant_id }}/{{ product_info['media_id'] }}/400x.webp?source_format=jpeg" alt="Card image cap">
            <div class="card-footer">
              <small class="text-muted">{{ product_info['title_translations']['zh-hant'] }}</small>
            </div>
            <div class="card-footer">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{product}}" id="check_{{product}}" value="1">
                <label class="form-check-label" for="check_{{product}}">
                  Like
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{product}}" id="check2_{{product}}" value="0">
                <label class="form-check-label" for="check2_{{product}}">
                  Unlike
                </label>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      </form>
      <button type="submit" form="form1" class="btn btn-primary btn-lg">Next</button>
    </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script type="text/javascript">
    {% for product, product_info in recommendation_list.items() %}
      $("#check_{{product}}").click(function() {
          $("#check2_{{product}}").prop('checked', false);
      });

      $("#check2_{{product}}").click(function() {
          $("#check_{{product}}").prop('checked', false);
      });
    {% endfor %}
  </script>

</body>

</html>
